body {
    background-color: black;
    overflow-x: hidden;
    overflow-y: hidden;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("https://images.unsplash.com/photo-1533134486753-c833f0ed4866?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fG1pbmltYWwlMjBkYXJrfGVufDB8fDB8fA%3D%3D&w=1000&q=80");
    background-size: cover;
    background-position: center;
    opacity: 0.1;
}

.team-text {
    font-family: 'Inter', sans-serif;
    font-weight: 849;
    font-style: italic;
    text-align: center;
    padding-top: 50px;
    color: white;
    z-index: 1;
    position: relative;
    opacity: 1;
    font-size: 50px;
  }

.Team {
    background: linear-gradient(to right, skyblue, #1b4f72);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Inter', sans-serif;
    font-weight: 849;
    font-style: italic;
    font-size: 50px;
  }

.mini-team-text {
    font-family: "Inter", sans-serif;
    text-align: center;
    color: white;
    font-weight: 849;
    font-style: italic;
    padding-top: 5px;
    font-size: 30px;
    -webkit-user-select: auto; /* Chrome all / Safari all */
    -moz-user-select: auto; /* Firefox all */
    -ms-user-select: auto; /* IE 10+ */
    user-select: auto; /* Standard syntax */
}

.dev-text {
    font-family: "Inter", sans-serif;
    text-align: center;
    color: #1b4f72;
    font-weight: 849;
    font-style: italic;
    padding-top: 5px;
    font-size: 30px;
    -webkit-user-select: auto; /* Chrome all / Safari all */
    -moz-user-select: auto; /* Firefox all */
    -ms-user-select: auto; /* IE 10+ */
    user-select: auto; /* Standard syntax */
}

.ha1sen {
    position: absolute;
    top: 22.5%;
    right: 58%;
    width: 700px;
    height: 500px;
}

.lnterim {
    position: absolute;
    top: 22.5%;
    right: 27%;
    width: 700px;
    height: 500px;
}

.Miha {
    position: absolute;
    top: 22.5%;
    right: -5%;
    width: 700px;
    height: 500px;
}

.Miho {
    position: absolute;
    top: 55%;
    right: 58%;
    width: 700px;
    height: 500px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 20px;
    background-color: none;
    padding: 10px;
    color: white;
    font-family: "Mono", sans-serif;
    font-weight: bold;
    text-align: center;
    z-index: 1;
}